.text-input {
  color: #C7C7C7;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.15px;
  line-height: 17px;
  padding: 8px 11px;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  width: 100%;
  &[placeholder] {
    color: #C7C7C7;
    font-family: 'Lato', sans-serif;
    font-style: normal;
  }
}