.todo {
  display: block;
  padding: 55px;
  &__title {
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  &__list {
    margin-bottom: 20px;
    &__alert {
      color: #C9D1D3;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
    }
  }
}